:root {
    font-family: 'LibreFranklin', sans-serif;
    --v-theme-font: 'LibreFranklin', sans-serif;
    --v-theme-storyText-font: 'NotoSerif', serif;
    --v-theme-font-size: 16px;
    --v-theme-line-height: 1.5;
    --v-theme-title-font-size: 19px;
    --v-theme-title-line-height: 1.22;
    --v-theme-title-featured-font-size: 26px;
    --v-theme-title-featured-line-height: 1.25;
    --v-theme-description-featured-line-height: 1.333;
    --v-theme-date-font-size: 12px;
    --v-theme-currentlyPlaying-font-size: 14px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 800;
    line-height: var(--v-theme-title-featured-line-height);
}

.featuredDescription {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size);
    font-weight: 300;
    line-height: var(--v-theme-description-featured-line-height);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 800;
    line-height: var(--v-theme-title-line-height);
}

.date,
.feedTitle,
.topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
}

.storyText {
    font-family: var(--v-theme-storyText-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
}

.topic {
    font-weight: 800;
    letter-spacing: .3px;
}

.currentlyPlayingTitle {
    font-weight: 400;
    font-size: var(--v-theme-currentlyPlaying-font-size);
    font-family: var(--v-theme-font);
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 18px;
    line-height: 1;
}