<template>
    <div>
        <div :class="{ 'contentView': true, 'contentViewOverflowing': ($store.state.fullScreenItems != null) }"
            style="z-index: 3">
            <transition :name="transitionName">
                <keep-alive>
                    <router-view :key="'view_' + $route.name" />
                </keep-alive>
            </transition>
        </div>

        <SharedMediaPlayer :item="$root.mediaPlayerItem" />

        <v-bottom-navigation role="navigation" fixed height="50px" width="100%"
            style="z-index: 2"
            class="navigationBar text-center" color="accent" mandatory grow>
            <v-btn aria-label='Home' v-blur class="navButton" exact
                :to="{ name: 'home' }" @click="logNav('home')">
                <v-icon aria-hidden="true">$vuetify.icons.home</v-icon>
            </v-btn>
            <v-btn aria-label='Categories' v-blur
                class="navButton" to="categories"
                @click="logNav('categories')">
                <v-icon aria-hidden="true">$vuetify.icons.categories</v-icon>
            </v-btn>
            <v-btn aria-label='Videos' v-blur class="navButton" to="video"
                @click="logNav('video')">
                <v-icon aria-hidden="true">$vuetify.icons.typeVideo</v-icon>
            </v-btn>
            <v-btn aria-label='Saved' v-blur class="navButton" to="saved"
                @click="logNav('saved')">
                <v-icon aria-hidden="true">$vuetify.icons.favorites</v-icon>
            </v-btn>
            <v-btn aria-label='Settings' v-blur class="navButton" to="more"
                @click="logNav('more')">
                <v-icon aria-hidden="true">$vuetify.icons.more</v-icon>
            </v-btn>
        </v-bottom-navigation>
    </div>
</template>

<script>
import SharedMediaPlayer from "../components/SharedMediaPlayer";

export default {
    name: "Main",
    components: {
        SharedMediaPlayer,
    },
    data() {
        return {
            transitionName: null
        };
    },
    watch: {
        $route(to, from) {
            const toDepth = to.meta.tab || 0;
            const fromDepth = from.meta.tab || 0;
            this.transitionName = toDepth < fromDepth ? "slide-left" : "slide-right";
            if (!to.query || !to.query.nodockplayer) {
                this.$root.mediaShowList = false;
            }
        }
    },

    methods: {
        logNav(page) {
            this.$logger.logNavigation(page);
        },
    }
};
</script>
<style scoped>
@import url("../assets/css/item-style.css");
@import url("../assets/css/shared-styles.css");



.contentView {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 50px;
    right: 0px;
    overflow-y: hidden;
}

/* When doing full screen video, use whole screen */
.fullscreenVideo .contentView {
    bottom: 0px;
}

.contentViewOverflowing {
    overflow-y: visible !important;
}

.navigationBar {
    position: fixed;
    background-color: #fafafa;
}

.navButton {
    min-width: 10% !important;
}

.navButton.v-btn--active {
    color: var(--v-accent-base) !important;
}
</style>

<style>
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-to {
    transform: translate(-100%, 0);
}

.slide-left-leave-to,
.slide-right-enter {
    transform: translate(100%, 0);
}

.v-item-group.v-bottom-navigation {
    box-shadow: none;
}
</style>
